.nav{
    height: 70px;
    nav-down: auto;
     /* padding: 10px;  */
     background-color: #fa2343a3; 
    margin: 0;
    display:flex;
   
    align-items:center;
    justify-content:center;
}
.myDiv {
  border: 1px;
  background-color: rgb(61, 187, 229);
  text-align: center;
}
.grid{
    grid-row:span 2;
    grid-column: span 2;
    background-color: rgba(203, 201, 186, 0.911);
    font-family: bold;
}
.bottom{
    border: 5px;
  background-color: black;
  text-align: center;
  color:#fff;
  padding : 1px;

}
.button{
  background-color: #5c32e7d3;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 16px;
  height: 40px;
width: 130px;
  padding: 4px;
  /* border: 1px; */
  cursor: pointer;
  align-items:center;
    justify-content:center;
 
   margin: 10 100px;
 text-align: center;
}