.nav{
    height: 50px;
     padding: 10px; 
     background-color: #fa2343; 
    margin: 0;
}
.myDiv {
  border: 1px;
  background-color: rgb(61, 187, 229);
  text-align: center;
}
.grid{
    grid-row:span 2;
    grid-column: span 3;
    background-color: lightblue;
    font-family: bold;
}
.bottom{
    border: 1px;
  background-color: black;
  text-align: center;
  padding : 1px;
  text-color: white;
}
.button{
  background-color: #c269b6;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  height: 90px;
width: 40px;
  padding: 10 20px;
  border: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
   margin: 10 100px;
    align:center;
}